[Bb]in/
[Oo]bj/
[Oo]ut/
[Pp]ublish/
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates
*.suo
*.ide
*.log
*.sqlite
packages/
*.nupkg
*.snupkg
*.vssscc
*.tmp
*.bak
*.swp
*.[Cc]ache
*.[Pp]ubxml
*.[Pp]ubxml.user
TestResults/
*.coverage
*.coveragexml
.env
appsettings.Development.json
*.pfx
*.p12
